<h2>新規登録</h2>
<%= form_tag('/users/create', method: :post) do %>
  <p>user_name</p>
  <input name="name">
  <p>email</p>
  <input name="email">
  <p>password</p>
  <input type="password" name="password">
  <p></p>
  <input type="submit">
<% end %>
